@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* In your global CSS file (e.g., styles/globals.css or similar) */
.stroke-text-dark {
  -webkit-text-stroke: 1px white; /* 1px stroke outline in white */
  text-stroke: 1px white; /* For other browsers that support text-stroke */
  color: transparent; /* Makes the inner part of the text transparent */
}





